# Webhook y HTTP
flask>=3.0.0,<4
requests>=2.31.0,<3

# OpenAI 
openai>=2.8.0,<3
openai-agents>=0.6.1,<1

websocket-client==1.8.0
websockets==15.0.1

# Extras
redis==6.4.0
pymongo==4.15.5
pydantic>=2.12.3,<3
pydantic-settings>=2.10.0,<3