@import "tailwindcss";


:root {
  --background: #dadada;
  --foreground: #171717;
  --color-selected: #00071aff;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #e3e3e4;
    --foreground: #ededed;
    --color-selected: #00071aff;
    --color-primary_blue: #000b24ff;
    --color-primary_hover: #0b39804f;
    --color-primary_button: #19a8a8;
    --color-primary_button_hovered: #046767;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family:Arial, Helvetica, sans-serif;
}


.no-scrollbar {
  overflow: auto;            
  -ms-overflow-style: none;       
  scrollbar-width: none;          
}
.no-scrollbar::-webkit-scrollbar { 
  display: none;
}