@import "tailwindcss";


:root {
  --background: #dadada;
  --foreground: #171717;
  --color-selected: #00071aff;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #e3e3e4;
    --foreground: #ededed;
    --color-selected: #00071aff;
    --color-primary_blue: #000b24ff;
    --color-primary_hover: #0b39804f;
    --color-primary_button: #19a8a8;
  }
}

@font-face {
  font-family: "AvocadoFont";
  src: url("/sac_manager_ui/public/fonts/LTAvocado-Regular.ttf") format("truetype");
  font-weight: 400; /* para font-normal */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvocadoFont";
  src: url("/sac_manager_ui/public/fonts/LTAvocado-Bold.ttf") format("truetype");
  font-weight: 500; /* para font-medium (si ese bold realmente luce como 500) */
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:Arial, Helvetica, sans-serif;
}


.no-scrollbar {
  overflow: auto;            
  -ms-overflow-style: none;       
  scrollbar-width: none;          
}
.no-scrollbar::-webkit-scrollbar { 
  display: none;
}